<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMetalogixDemoService" />
                <binding name="BasicHttpBinding_IMetalogixDemoService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57923/MetalogixDemoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetalogixDemoService"
                contract="MetalogixService.IMetalogixDemoService" name="BasicHttpBinding_IMetalogixDemoService" />
            <endpoint address="http://localhost:57923/MetalogixDemoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetalogixDemoService1"
                contract="MetalogixWcfService.IMetalogixDemoService" name="BasicHttpBinding_IMetalogixDemoService1" />
        </client>
    </system.serviceModel>
</configuration>