<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMetalogixDemoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57923/MetalogixDemoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetalogixDemoService"
                contract="MetalogixWcfService.IMetalogixDemoService" name="BasicHttpBinding_IMetalogixDemoService" />
        </client>
    </system.serviceModel>
</configuration>